/* "关于我们"图片周围的标签 */
.tag {
  display: inline-block;
  height: 20px;
  padding: 5px 5px;
  border: 1px solid rgb(199, 228, 234);
  border-radius: 7px;
  line-height: 20px;
  background-color: rgb(242, 242, 242);
}

.cx,
.nq,
.zh,
.fx,
.hk,
.bm,
.rc,
.js {
  position: absolute;
  left: 150px;
  bottom: 70px;
  opacity: 0;
}

.cx-show {
  position: absolute;
  left: 150px;
  bottom: 70px;
  opacity: 0;
  animation-name: cxmove, float;
  animation-duration: 1s, 1s;
  animation-delay: 0s, 1.1s;
  animation-timing-function: linear, linear;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, forwards;
  animation-direction: normal, alternate-reverse;
}

.nq-show {
  position: absolute;
  left: 150px;
  bottom: 70px;
  opacity: 0;
  animation-name: nqmove, float;
  animation-duration: 1s, 1.1s;
  animation-delay: 0s, 1.1s;
  animation-timing-function: linear, linear;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, forwards;
  animation-direction: normal, alternate-reverse;
}

.zh-show {
  position: absolute;
  left: 150px;
  bottom: 70px;
  opacity: 0;
  animation-name: zhmove, float;
  animation-duration: 1s, 1.15s;
  animation-delay: 0s, 1.1s;
  animation-timing-function: linear, linear;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, forwards;
  animation-direction: normal, alternate-reverse;
}

.fx-show {
  position: absolute;
  left: 150px;
  bottom: 70px;
  opacity: 0;
  animation-name: fxmove, float;
  animation-duration: 1s, 1.4s;
  animation-delay: 0s, 1.1s;
  animation-timing-function: linear, linear;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, forwards;
  animation-direction: normal, alternate-reverse;
}

.hk-show {
  position: absolute;
  left: 150px;
  bottom: 70px;
  opacity: 0;
  animation-name: hkmove, float;
  animation-duration: 1s, 1.4s;
  animation-delay: 0s, 1.1s;
  animation-timing-function: linear, linear;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, forwards;
  animation-direction: normal, alternate-reverse;
}

.bm-show {
  position: absolute;
  left: 150px;
  bottom: 70px;
  opacity: 0;
  animation-name: bmmove, float;
  animation-duration: 1s, 1.5s;
  animation-delay: 0s, 1.1s;
  animation-timing-function: linear, linear;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, forwards;
  animation-direction: normal, alternate-reverse;
}

.rc-show {
  position: absolute;
  left: 150px;
  bottom: 70px;
  opacity: 0;
  animation-name: rcmove, float;
  animation-duration: 1s, 1.6s;
  animation-delay: 0s, 1.1s;
  animation-timing-function: linear, linear;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, forwards;
  animation-direction: normal, alternate-reverse;
}

.js-show {
  position: absolute;
  left: 150px;
  bottom: 70px;
  opacity: 0;
  animation-name: jsmove, float;
  animation-duration: 1s, 1.09s;
  animation-delay: 0s, 1.1s;
  animation-timing-function: linear, linear;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, forwards;
  animation-direction: normal, alternate-reverse;
}

/* 标签浮动 */
@keyframes float {
  from {
    transform: translatey(-2px);
  }
  to {
    transform: translatey(2px);
  }
}

/* 标签爆炸 */
@keyframes cxmove {
  35% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    bottom: 105px;
    left: 5px;
  }
}

@keyframes nqmove {
  35% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    bottom: 90px;
    left: 110px;
  }
}

@keyframes zhmove {
  35% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    bottom: 100px;
    left: 235px;
  }
}

@keyframes fxmove {
  35% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    bottom: 105px;
    left: 315px;
  }
}

@keyframes hkmove {
  35% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    bottom: 30px;
    left: 1px;
  }
}

@keyframes bmmove {
  35% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    bottom: 50px;
    left: 150px;
  }
}

@keyframes rcmove {
  35% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    bottom: 15px;
    left: 235px;
  }
}

@keyframes jsmove {
  35% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    bottom: 55px;
    left: 300px;
  }
}
