.depart {
  display: flex;
  height: 181px;
  width: 100%;
  margin: -40px auto 0;
}
.dep-title {
  height: 92px;
  width: 92px;
  margin: auto;
  border: rgb(215, 215, 215) solid 1px;
  border-radius: 50%;
  font-family: "Arial Narrow Bold", "Arial Narrow", "Arial";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: rgb(2, 167, 240);
  text-align: center;
  line-height: 92px;
  overflow: hidden;
}
.dep-content p {
  width: 100%;
}
.dep-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 177px;
  height: 144px;
  min-width: 177Px;/* px-to-viewport-ignore */
  margin: auto 0;
  padding: 2px 6px 2px 6px;
  border: rgb(215, 215, 215) solid 1px;
  border-radius: 50px;
  font-family: "Arial Normal", "Arial";
  font-style: normal;
  text-align: center;
  font-size: 12px;
  letter-spacing: normal;
  text-indent: 2em;
  overflow: scroll;
}
::-webkit-scrollbar{
  display: none;
}