/* 关于我们 */
.back {
  width: 100%;
  height: 669px;
  min-height: 669px;
  min-width: 370Px;/* px-to-viewport-ignore */
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.head {
  height: 60px;
  font-family: "Arial Negreta", "Arial Normal", "Arial";
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  position: relative;
}

.title {
  position: absolute;
  min-width: 72px;
  top: 30px;
  left: 35px;
}

.content {
  width: 100%;
  height: 100%;
  min-width: 387px;
}

.us-pic-wall-outer {
  width: 95%;
  height: 400px;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
  background-color: rgb(242, 242, 242);
  border-radius: 20px;
}

.pic1 {
  position: absolute;
  left: 250px;
  top: 150px;
  transform: translate(-50%,-50%) rotate(-5deg);
}

.pic1 img {
  width: 110px;
}

.pic2 {
  position: absolute;
  left: 80px;
  top: 100px;
  transform: translate(-50%,-50%) rotate(5deg);
}

.pic2 img {
  width: 85px;
}

.pic3 {
  position: absolute;
  left: 220px;
  top: 55px;
  transform: translate(-50%,-50%) rotate(-4deg);
}

.pic3 img {
  width: 125px;
}

.pic4 {
  position: absolute;
  left: 150px;
  bottom: -10px;
  transform: translate(-50%,-50%) rotate(-10deg);
}

.pic4 img {
  width: 115px;
}

.pic5 {
  position: absolute;
  right: 10px;
  bottom: 15px;
  transform: translate(-50%,-50%) rotate(33deg);
}

.pic5 img {
  width: 90px;
}

.pic6 {
  position: absolute;
  right: 90px;
  bottom: 95px;
  transform: translate(-50%,-50%) rotate(4deg);
}

.pic6 img {
  width: 95px;
}

.pic7 {
  position: absolute;
  left: 60px;
  bottom: 60px;
  transform: translate(-50%,-50%) rotate(20deg);
}

.pic7 img {
  width: 75px;
}

.pic8 {
  position: absolute;
  left: 65px;
  bottom: 140px;
  transform: translate(-50%,-50%) rotate(-20deg);
}

.pic8 img {
  width: 100px;
}

.pic9 {
  position: absolute;
  left: 290px;
  bottom: 100px;
  transform: translate(-50%,-50%) rotate(10deg);
}

.pic9 img {
  width: 70px;
}

.pic10 {
  position: absolute;
  left: 150px;
  bottom: 180px;
  transform: translate(-50%,-50%) rotate(20deg);
}

.pic10 img {
  width: 90px;
}

.pic11 {
  position: absolute;
  left: 100px;
  bottom: 90px;
  transform: translate(-50%,-50%) rotate(0deg);
}

.pic11 img {
  width: 80px;
}

.pic12 {
  position: absolute;
  left: 260px;
  bottom: 140px;
  transform: translate(-50%,-50%) rotate(5deg);
}

.pic12 img {
  width: 75px;
}

.us-pic-outer {
  width: 100%;
  height: 189px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 20px;
}

.us-pic-outer img {
    width: 100%;
}

.us-tag-outer {
  width: 100%;
  height: 189px;
  position: relative;
  top: 400px;
}
