/* 每个产品的展示框 */
.item {
    width: 365px;
    height: 120px;
    border-radius: 30px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.youwen {
    background: linear-gradient(90deg,#f1f2d0,#b1d8b4);
    position: relative;
    margin: 10px auto;
    opacity: 0;
    
}
.youwen-show{
    background: linear-gradient(90deg,#f1f2d0,#b1d8b4);
    position: relative;
    margin: 10px auto;
    opacity: 0;
    animation: ywmove 1s linear forwards;
}

.erp {
    background: linear-gradient(270deg,#c9dae7,#ebeff9);
    position: relative;
    margin: 10px 0px 0px 15px;
    opacity: 0;
    
}
.erp-show {
    background: linear-gradient(270deg,#c9dae7,#ebeff9);
    position: relative;
    margin: 10px 0px 0px 15px;
    opacity: 0;
    animation: erpmove 1s linear forwards;
}

.product-img-outer {
    width: 110px;
    height: 110px;
    margin: 5px 0 5px 15px;
    
}

.product-img-outer img {
    width: 100%;
}

.product-more-outer {
    width: 220px;
    height: 110px;
    margin: 5px 15px 5px 0;
}

.product-title {
    font-size: 10px;
    font-weight: 700;
}

.product-supplement {
    font-size: 8px;
}

.product-detail {
    font-size: 8px;
}

.ywbd {
    color: #44914b;
}

.erpxt {
    color: #4a73dc;
}

/* 产品卡缓慢出现 */
@keyframes ywmove {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes erpmove {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}