/* 每个产品的展示框 */
.item {
  overflow: hidden;
  width: 365px;
  height: 128px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.youwen {
  opacity: 0;
}
.youwen-show {
  background: linear-gradient(90deg, #f1f2d0, #b1d8b4);
  position: relative;
  margin: 12px auto;
  opacity: 0;
  animation: ywmove 1s linear forwards;
}

.erp {
  opacity: 0;
}
.erp-show {
  background: linear-gradient(270deg, #c9dae7, #ebeff9);
  position: relative;
  margin: 12px auto;
  opacity: 0;
  animation: erpmove 1s linear forwards;
}

.zy {
  opacity: 0;
}
.zy-show {
  background: linear-gradient(270deg, rgb(217, 217, 217), rgb(217, 217, 217));
  position: relative;
  margin: 12px auto;
  opacity: 0;
  animation: zymove 1s linear forwards;
}

.yw-img-outer {
  width: 110px;
  position: relative;
  top: 1px;
  left: 10px;
}

.yw-img-outer img {
  width: 100%;
  margin-bottom: -3px;
}

.erp-img-outer {
  width: 110px;
  height: 119px;
  position: relative;
  top: 0px;
  left: 12px;
}

.erp-img-outer img {
  width: 130%;
  position: absolute;
  left: -16%;
}

.zy-img-outer {
  width: 110px;
  height: 119px;
  position: relative;
  top: 0px;
  left: 12px;
}

.zy-img-outer img {
  width: 98%;
  position: absolute;
  left: 2%;
  top: 5%;
}

.product-more-outer {
  width: 235px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 15px 15px 15px 0;
  box-sizing: border-box;
}

.product-title {
  font-size: 14px;
  font-weight: 700;
}

.product-supplement {
  font-size: 12px;
  font-weight: 700;
}

.product-detail {
  font-size: 13px;
  letter-spacing: 2px;
}

.ywbd {
  color: #6a9b71;
}

.erpxt {
  color: #6593a8;
}

.zywl {
  color: rgb(160, 160, 160);
}

/* 产品卡缓慢出现 */
@keyframes ywmove {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes erpmove {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes zymove {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
