* {
  margin: 0;
  padding: 0;
}
.back {
  width: 100vw;
  height: 100%;
  min-width: 370px; /* px-to-viewport-ignore */
  margin: 0 auto;
  margin-bottom: 40px;
}
/* 头部 */
.head {
  height: 60px;
  font-family: "Arial Negreta", "Arial Normal", "Arial";
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  position: relative;
}
.tittle {
  position: absolute;
  min-width: 72px;
  top: 30px;
  left: 35px;
}
/* 内容区 */
.content {
  width: 100%;
  height: 100%;
  min-width: 370px; /* px-to-viewport-ignore */
}
/* 上 */
.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 115px; /* px-to-viewport-ignore */
  margin-top: 30px;
  padding-bottom: 24px;
}
.top-img {
  width: 95px;
  height: 85px;
  text-align: center;
}
.top p {
  font-family: "Arial Negreta", "Arial Normal", "Arial";
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
}
.top span {
  font-family: "Arial Normal", "Arial";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
}
.enroll,
.cultivate,
.project {
  width: 115px;
  text-align: center;
}
.arrow {
  width: 21px;
  text-align: center;
  font-size: 60px;
}
/* 中 */
@font-face {
  font-family: "joinus";
  src: url("../../static/joinus.ttf");
}
.middle {
  position: relative;
  width: 100%;
  text-align: center;
  line-height: 130px;
  font-family: "joinus";
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
}
.middle > i {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-image: linear-gradient(
    270deg,
    hsla(0, 0%, 100%, 0) 15%,
    rgb(221, 235, 235) 50%,
    hsla(0, 0%, 100%, 0) 85%
  );
}
.middle_before_i {
  position: absolute;
  top: 25px;
}
.middle_after_i {
  position: absolute;
  top: 95px;
}
/* 下 */
.down {
  width: 100%;
  height: 130px;
  padding-top: 40px;
  position: relative;
}
.down-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 85%;
  margin: 0 auto;
  margin-top: 20px;
}
.link {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 110px;
}

.otherTags {
  width: 190px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.tag{
  background-color: #d6edee;
  border-radius: 10PX;
  padding: 7PX 8PX;
  text-align: center;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}