/* 首页 */
.back {
  width: 100%;
  height: 100vh;
  min-width: 387Px;/* px-to-viewport-ignore */
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.content {
  width: 100%;
  height: 100%;
  min-width: 387px;
}

.homepage-title-outer {
  position: absolute;
  top: 5%;
  left: 2%;
}

.homepage-title1 {
  display: block;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
}

.homepage-title2 {
  display: block;
  font-size: 23px;
  font-weight: bold;
}

.right-graphic1-outer {
  width: 320px;
  height: 250px;
  background-color: #fff;
  animation: tri-lr-move 5s ease-in-out forwards infinite alternate;
  position: absolute;
  top: -21%;
  left: 38%;
  box-shadow: 10px 10px 9px #888888;
}

.left-graphic-outer {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: -30%;
  box-shadow: 10px 10px 7px #888888;
  animation: cir-lr-move 10s linear forwards infinite alternate;
}

.right-graphic2-outer {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 55%;
  left: 65%;
  box-shadow: 5px -15px 8px #888888;
  animation: cir-tb-move 2s ease-in forwards infinite alternate;
}

.middle-slogan-outer {
  width: 300px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 42%;
  left: 50%;
  text-align: center;
}

.slogan1 {
  font-family: "Arial Negreta", "Arial Normal", "Arial";
  font-size: 37px;
  font-weight: bold;
  display: block;
}

.slogan2 {
  font-family: "negreta";
  font-size: 37px;
  font-weight: bold;
  display: block;
}

.slogan3-outer {
  position: relative;
}

.slogan3-outer::before {
  content: "";
  width: 60px;
  height: 5px;
  border-radius: 50%;
  background-color: #d8d4d4;
  position: absolute;
  top: 15px;
  left: -24px;
}

.slogan3-outer::after {
  content: "";
  width: 60px;
  height: 5px;
  border-radius: 50%;
  background-color: #d8d4d4;
  position: absolute;
  top: 15px;
  right: -27px;
}

.slogan3 {
  width: 224px;
  font-family: "negreta";
  font-size: 14px;
  color: rgb(127, 127, 127);
  letter-spacing: 11.7px;
  font-weight: bold;
  display: block;
  text-align: center;
  position: absolute;
  left: 44px;
  top: 7px;
}

.foot-plane-outer {
  position: absolute;
  bottom: 5%;
  left: 37%;
  animation: float 1s 0.14s linear forwards infinite alternate;
  cursor: pointer;
}

.foot-plane-outer img {
  width: 35vw;
}

/* 飞机浮动 */
@keyframes float {
  from {
    transform: translateX(-4px);
  }
  to {
    transform: translateY(4px);
  }
}

/* 三角形左右移动 */
@keyframes tri-lr-move {
  from {
    transform: translateX(-10px) rotate(45deg);
  }
  to {
    transform: translateY(10px) rotate(45deg);
  }
}

/* 左边圆形左右移动 */
@keyframes cir-lr-move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
}

/* 右边圆形上下移动 */
@keyframes cir-tb-move {
  from {
    transform: translateY(0px);
    box-shadow: 5px -15px 8px #888888;
  }
  to {
    transform: translateY(30px);
    box-shadow: 0px 0px 0px #888888;
  }
}
